@import url("./reset.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("/resources/themes/theme.css");

html, input, select, textarea, div[contenteditable], button{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    box-sizing: border-box;
}

input[type=text], select, textarea{
    width: 100%;
    display: block;
}

#device-editor .generator-control-row{
    background-color: #fff;
}

#device-editor #device_input_device_lock_state{
    grid-template-columns: 80px 80px;
}

#device-editor .multi-pane{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#device-editor .secondary{
    background-color: #faf9f8;
}

#generator_metadata .generator_rows .generator-input-row{
    grid-template-columns: 1fr 1fr auto;
}

#generator_metadata .generator_rows .input-row-actions{
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}
#generator_metadata .generator_rows .error{
    grid-column-start: 1;
    grid-column-end: 3;
}
#load-entry, .interactive-output{
    background: #eaffea;
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 20em;
}

p.powered{
    font-size: 11px;
    text-align: left;
    padding: 5px 10px;
    font-weight: bold;
}

.cms *{
    line-height: 1.5;
    max-width: 700px;
}
.cms h1{
    font-size: 125%;
}
.cms h2{
    font-size: 115%;
}
.cms h3{
    font-size: 110%;
}
.cms h4{
    font-size: 105%;
}
.cms h5{
    font-weight: bold;
}
.cms h1,
.cms h2,
.cms h3,
.cms h4,
.cms h5 {
    margin: 2em 0 1em;
}
.cms p{
    padding: .5em 1em;
}

.cms pre {
    margin: 1em .5em;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.cms pre code{
    display: block;
    background: #ddd;
    font-family: monospace;
    max-width: 100%;
    overflow: auto;
    padding: .5em 1em;
    margin: 0;
    box-sizing: border-box;
}
.cms pre code.language-javascript{
    cursor: pointer;
}
.cms p code{
    font-family: monospace;
    display: inline-block;
    font-size: 90%;
}

.cms pre code.language-javascript:hover{
    background: palegoldenrod;
}

blockquote::before{
    content: "Output:";
    display: block;
    font-weight: bold;
}
blockquote {
    display: block;
    padding: .5em 1em;
    margin: 1em .5em;
    background: #eaffea;
    box-sizing: border-box;
    max-width: 100%;
}

.modal {
    display: none;
}
