.form {
    line-height: 1.3;
}

.form .content p{
    margin-bottom: 10px;
}
.form .content p:last-child{
    margin-bottom: 0;
}

.form .hidden{
    display: none;
}

.form .input-row{
    padding: 10px;
    box-sizing: border-box;
}

.form .input-row label,
.form .input-row textarea,
.form .input-row div[contenteditable],
.form .input-row select,
.form .input-row input[type="text"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.form .input-row textarea:disabled,
.form .input-row div[contenteditable]:disabled,
.form .input-row select:disabled,
.form .input-row input[type="text"]:disabled{
    background-color: #dedede;
}

.form .input-row textarea,
.form .input-row div[contenteditable],
.form .input-row select,
.form .input-row input[type="text"]{
    border: 1px solid #dedede;
    background-color: #fff;
}

.form .input-row textarea:focus,
.form .input-row div[contenteditable]:focus,
.form .input-row select:focus,
.form .input-row input[type="text"]:focus{
    border: 1px solid #20ADED;
    background-color: #f2f9ff;
    outline: none;
}

.form .input-row.hasError textarea,
.form .input-row div[contenteditable],
.form .input-row.hasError select,
.form .input-row.hasError input[type="text"]{
    background-color: #fff1ef;
    border: 1px solid red;
}

.form .global-errors,
.form .input-row .error{
    display: none;
}
.form .global-errors.hasError,
.form .input-row.hasError .error{
    display: block;
    color: red;
}

.form .input-row textarea,
.form .input-row div[contenteditable]{
    min-height: 20em;
}

.form .input-row label{
    padding: 5px 0;
}

.form .input-row.required p.indicates-required::before,
.form .input-row.required label::after{
    content: " * ";
    font-weight: bold;
}
.form .input-row.required label.no-annotations::after{
    content: "";
}

.form .input-row .radios{
    display: grid;
    grid-template-columns: 1fr;
}
.form .input-row .radios label{
    cursor: pointer;
    display: block;
}
.form .generator{
    display: grid;
    padding: 10px;
}
.form .generator button{
    cursor: pointer;
}
.form .generator .generator-control-row{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 5px;
    background-color: #faf9f8;
    border: 1px solid #dedede;
}
.form .generator .generator-title{
    padding: 5px;
}
.form .generator .generator_rows{
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}
.form .generator .generator_rows .generator-input-row{
    box-sizing: border-box;
    display: grid;
    border: 1px solid #dedede;
    border-top: 0;
    grid-gap: 0 10px;
    padding: 5px;
}
.form .generator .generator_rows .input-row{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    box-sizing: border-box;
}
.form .generator .generator-input-row:nth-child(odd){
    background-color: #fff;
}
.form .generator .generator-input-row:nth-child(even){
    background-color: #faf9f8;
}
.form input[type=submit],
.form button,
.form .generator button{
    border: 1px solid #20ADED;
    background-color: #20ADED;
    outline: none;
    color: #fff;
}
.form .generator div.input-row{
    padding: 0;
}